body{
    background-color: gainsboro;
    font-family: sans-serif;
}
.container{
    /* border: 1px solid red; */
    max-width: 960px;
    margin: auto;
}

.forma{
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.unos{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: bold;
    color: #3f3f3f;
}

input[type="text"],
input[type="email"],
select{
    font-size: 1.1rem;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 8px;
}

h1{
    font-size: 1.6rem;
    border-bottom: 2px solid blue;
    max-width: 165px;
    padding-bottom: 10px;
}

input[type="submit"]{
    background-color: green;
    color: white;
    border-radius: 10px;
    border: 0px;
    padding: 8px;
    max-width: 165px;
}

table{
    width: 140vh;
}

table, td, th{
    border: 1px solid rgb(192, 189, 189);
    border-collapse: collapse;
    padding: 10px 15px;
}

thead th{
    background-color: rgb(11, 135, 197);
    color: white;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(231, 230, 230);
}

tbody td:last-child{
    color: red;
    font-weight: 800;
}

tbody tr{
    border-bottom: 1px solid #ddd;
}
td, th{
    border: none;
}


