body{
    background-color: rgb(245, 232, 208);
    font-family: sans-serif;
}

.top-bar{
    background: linear-gradient(to right, #ea5e23, #ea4d1d);
    color: white;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
}

.menu a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

.menu a:hover{
    text-decoration: underline;
}

h1{
    text-align: center;
    color: #ea5e23;
    font-size: 35px;
    margin-top: 60px;
}

h2{
    text-align: center;
    color: gray;
    font-size: medium;
}

h3{
    font-size: 20px;
    margin-top: 100px;
    margin-left: 275px;
    border-left: 5px solid #ea5e23;
    padding-left: 13px;
}

.container{
    margin: auto;
    max-width: 960px;
    display: grid;
    grid-template-areas: "a b c d";
    column-gap: 1rem;
}

.a{grid-area: a; }
.b{grid-area: b; }
.c{grid-area: c; }
.d{grid-area: d; }

.panel{
    background-color: white;
    border: 2px solid gainsboro;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}

h4{
    font-size: 1rem;
    font-weight: 600;
}

.cijena{
    color: #ea5e23;
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
}

h5{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 0 0 10px 0;
    border-left: 5px solid #ea5e23;
    padding-left: 13px;
}

p{
    font-size: 14px;
    margin-left: 0 0 10px 0;
    font-weight: 100;
    color: rgb(55, 54, 54);
}

table{
    width: 130vh;
    margin: auto;
}

table, td, th{
    border: 1px solid rgb(192, 189, 189);
    border-collapse: collapse;
    padding: 10px 15px;
}

thead th{
    background-color: rgb(69, 69, 69);
    color: white;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(231, 230, 230);
}

tbody tr{
    border-bottom: 1px solid #ddd;
}
td, th{
    border: none;
}

.box{
    background-color: white;
    width: fit-content;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    margin-top: 60px;
}

.forma{
    background-color: rgb(36, 36, 36);
    width: 130vh;
    margin: auto;
    border-radius: 15px;
    margin-top: 60px;
    padding: 15px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.unos{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: bold;
    color: white;
}

h6{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 0 0 10px 0;
    border-left: 5px solid white;
    padding-left: 13px;
    color: white;
}

input[type="submit"]{
    background-color: #ea5e23;
    color: white;
    padding: 10px;
    font-size: medium;
    font-weight: 700;
}

input[name="napomena"]{
    padding: 20px;
}

select, input[name="ime"]{
    padding: 8px;
}






















