:root{
    /* Ovo je varijabla koja sadrži vrijednost boje*/
    --primarna-boja: #2c3e50;
    --naglasena-boja: #e67e22;
    --pozadina-svijetlo: #ecf0f1;
}

body{
    /* Var je funkcija*/
    background-color: var(--pozadina-svijetlo);
    background-image: radial-gradient(circle,#bdc3c7,1px,transparent 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
    background-attachment: fixed;
}

.container{
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 1000px;

    min-height: 100vh;
    min-block-size: 100vh;

    margin: 0 auto;
    background-color: white;

    box-sizing: border-box;
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--naglasena-boja);
    outline-offset: 10px;
}

section{
    border: 3px solid var(--primarna-boja);
    border-radius: 1rem;
    margin: 10px;
    padding: 20px;
}