body{
    background-color: antiquewhite;
}

audio{
    outline: none;
    width: 100%;
}

video{
    max-width: 500px;
}

.stranica{
    min-width: 600px;
    min-height: 400px;
    border: 2px solid blue;
}