body{
    background-color: #eee;
    font-family: sans-serif;
}

.container{
    /* background-color: antiquewhite; */
    margin: auto;
    max-width: 960px;
    display: grid;
    grid-template-areas: "a b c d";
    column-gap: 1rem;
}

.a{grid-area: a; }
.b{grid-area: b; }
.c{grid-area: c; }
.d{grid-area: d; }

.panel{
    padding: 10px;
    background-color: white;
    border: 2px solid gainsboro;
    border-radius: 10px;
    text-align: center;
}

img{
    border-radius: 10px;
}

h1{
    font-size: 1.5rem;
    font-weight: 800;
}

.cijena{
    color: green;
    font-size: 1.5rem;
    font-weight: 800;
}

button{
    width: 100%;
    background-color: blue;
    color: white;
    padding: 7px;
    border: 0px;
    border-radius: 10px;
}

