h1{
    text-align: center;
    font-family: sans-serif;
}

.gridKontainer{
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: 1fr 1fr 1fr;
}

.a{
    grid-area: a;
    border-top: 2px solid black;
    
}

.b{
    grid-area: b;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.c{
    grid-area: c;
    border-top: 2px solid black;
    padding: 20px;
}

form{
    font-family: sans-serif;
}

